@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    background-color: #d0d3d4;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text_area {
    color: #710f0a;
    border: none;
    margin-top: 90px;
    text-transform: lowercase;   
}

::placeholder {
    color: #710f0a;
}

.text_area:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #710f0a;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.boton_desencriptar {
    background: #d8dfe8;
    border: 1px solid #710f0a;
    border-radius: 24px;
    color: #710f0a;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.boton_encriptar {
    background-color: #710f0a;
    border: 1px solid #710f0a;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar {
    border: 1px solid #710f0a;
    border-radius: 24px;
    color: #710f0a;
    cursor: pointer;
    margin-left: 108px;
    margin-top: 402px;
    height: 67px;
    width: 336px;
    position: absolute;
}

.informacion {
    color: #495057;
    font-size: 18px;
}
